<br><br>
<%= form_for(@gift_card) do |f| %>
  <% if @gift_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gift_card.errors.count, "error") %> prohibited this gift_card from being saved:</h2>

      <ul>
      <% @gift_card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sender %><br />
    <%= f.text_field :sender %>
  </div>
  <div class="field">
    <%= f.label :receiver %><br />
    <%= f.text_field :receiver %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :money %><br />
    <%= f.text_field :money %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
