<br><br>
<h3>Listing Gift Cards</h3>

<table class = "table table-striped table-bordered">
  <tr>
    <th>Sender</th>
    <th>Receiver</th>
    <th>Description</th>
    <th>Money</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gift_cards.each do |gift_card| %>
  <tr>
    <td><%= gift_card.sender %></td>
    <td><%= gift_card.receiver %></td>
    <td><%= gift_card.description %></td>
    <td><%= gift_card.money %></td>
    <td><%= link_to 'Show', gift_card %></td>
    <% if user_signed_in? && current_user == gift_card.user %>
      <td><%= link_to 'Edit', edit_gift_card_path(gift_card) %></td>
      <td><%= link_to 'Destroy', gift_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gift card', new_gift_card_path %>
