<br><br>
<p id="notice"><%= notice %></p>

<p>
  <b>Sender:</b>
  <%= @gift_card.sender %>
</p>

<p>
  <b>Receiver:</b>
  <%= @gift_card.receiver %>
</p>

<p>
  <b>Description:</b>
  <%= @gift_card.description %>
</p>

<p>
  <b>Money:</b>
  <%= @gift_card.money %>
</p>


<%= link_to 'Edit', edit_gift_card_path(@gift_card) %> |
<%= link_to 'Back', gift_cards_path %>
